In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"Name" : ['Alferd', 'Batman', 'Catwoman'],
                   "Toy" : [np.nan, 'Batmobile', 'Bullwhip'],
                   "Born": [pd.NaT, pd.Timestamp('1940-04-25'), pd.NaT]})

df

       Name        Toy       Born
0    Alferd        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [4]:
df.dropna() # Drop all rows where Na is present
# df.fillna() # Fill all values where Na is present

     Name        Toy       Born
1  Batman  Batmobile 1940-04-25

In [ ]:
df.info()   # Gives us the info about the data

In [ ]:
df["Toy"].value_counts(dropna= False)   # Counts the unique values